/* 공통 css: 수정하지 마시오 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&display=swap');

:root {
    --black: black;
    --gray: gray;
}
body {font-family: "Montserrat","Noto Sans KR", sans-serif;line-height: 1.6;}